<html>
	<head>
		<title>{{ .Title }}</title>
		<link rel="stylesheet" type="text/css" href="/static/index.css">
	</head>
	<body>
			<!-- <img src="static/kingStreetTriangle.jpg" width = "120" height = "90"/> -->
			<canvas id="viewportBottom" 
			style="z-index: 1; position:absolute; left:0px; top:0px;"
			width="640" height="360"></canvas>
			<canvas id="viewportTop" 
			style="z-index: 2; position:absolute; left:0px; top:0px;"
			width="640" height="360"></canvas>
    <script>
		make_base();
		function make_base() {
		var canvas = document.getElementById('viewportBottom'),
		context = canvas.getContext('2d');
		base_image = new Image();
		base_image.src = 'static/kingStreetTriangle.jpg';
			base_image.onload = function(){
				context.drawImage(base_image, 0, 0,640,360);
			}
		}

      function writeMessage(canvas, message) {
        var context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
		// base_image = new Image();
		// base_image.src = 'static/kingStreetTriangle.jpg';
		// 	base_image.onload = function(){
		// 		context.drawImage(base_image, 0, 0);
		// 	}
        context.font = '18pt Calibri';
        context.fillStyle = 'white';
        context.fillText(message, 25, 25);
      }

      function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
          x: evt.clientX - rect.left,
          y: evt.clientY - rect.top
        };
      }
      var canvas = document.getElementById('viewportTop');
      var context = canvas.getContext('2d');

      canvas.addEventListener('mousemove', function(evt) {
        var mousePos = getMousePos(canvas, evt);
        var message = 'Mouse position: ' + mousePos.x + ',' + mousePos.y;
        writeMessage(canvas, message);
      }, false);
	  
    </script>
		<nav>
			<a href="/logout">logout</a>
		</nav>
		<main>
			<h1>{{ .Title }}</h1>
			{{ if .DisplayForm }}
			<div id="update-form">
				<form action="/" method="POST">
					<textarea name="update"></textarea>
					<div>
						<button type="submit">Post Update</button>
					</div>
				</form>
			</div>
			{{ end }}
			{{ range .Updates }}
			<div class="update">
				<div>
					<strong><a href="/{{ .GetUser.GetUsername }}">{{ .GetUser.GetUsername }}</a> wrote:</strong>
				</div>
				<div>{{ .GetContent }}</div>
			</div>
			{{ end }}
		</main>
	</body>
</html>

